body {
max-width: 60em;
margin: 0 auto 0 auto;
background-color: white;
}

body {
  background-image: url('../myimages/birds.jpg');
  
}

h1   {
	background-color: #b4b4b4;
}

table, th, td {
border-collapse: collapse;
border: 1px solid #000;
padding: 1em;
}

body {
  font-family: "Lucida Console", "Courier New", monospace;
}

p   {
	border: 2px solid black; /*this will make the border black around the text*/
	background-color: white;
}

.importantstuff  {color: red;) */this will make the big headers red for emphasis*/